.herobg {
    background: url("../assets/herobg2.png") no-repeat center center;
    background-size: cover;
    width: 90%;
    height: 690px;
    /* Adjust the height as needed */
    position: relative;
    overflow: hidden;
    /* Ensures that overflow is hidden */
}

.masked-image {
    object-fit: cover;
    mask-image: url("../assets/herobg.png");
    border-radius: 30px;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../assets/herobg.png");
    /* WebKit browsers */
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}